 body {
            font-family: Arial, sans-serif;
            text-align: center;
            background-color: #f5f5f5;
            padding: 30px;
        }
        h1 {
            color: #0077cc;
        }
        #tarea {
            padding: 10px;
            font-size: 16px;
            width: 60%;
            border: 1px solid #ccc;
            border-radius: 5px;
        }
        button {
            padding: 10px;
            margin: 5px;
            font-size: 14px;
            border: none;
            cursor: pointer;
            border-radius: 5px;
            transition: background-color 0.2s;
        }
        .add-btn {
            background-color: #0077cc;
            color: white;
        }
        .add-btn:hover {
            background-color: #005aa3;
        }
        .delete-btn {
            background-color: #dc3545;
            color: white;
        }
        .delete-btn:hover {
            background-color: #c82333;
        }
        ul {
            list-style: none;
            padding: 0;
            max-width: 700px;
            margin: 20px auto;
        }
        li {
            background: white;
            margin: 10px 0;
            padding: 10px;
            border-radius: 5px;
            box-shadow: 0 1px 3px rgba(0,0,0,0.1);
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
        li span {
            flex-grow: 1;
            text-align: left;
            padding: 5px;
            cursor: pointer; /* Indica que es clickeable */
        }

        /* Estilo para tarea completada */
        .completada span {
            text-decoration: line-through;
            color: #888;
            font-style: italic;
        }
        .delete-btn{
            background: #833AB4;
            background: linear-gradient(90deg, rgba(131, 58, 180, 1) 0%, rgba(253, 29, 29, 1) 50%, rgba(252, 176, 69, 1) 100%);
        }

        .edit-btn{
            background: #2A7B9B;
            background: linear-gradient(90deg, rgba(42, 123, 155, 1) 0%, rgba(87, 199, 133, 1) 50%, rgba(237, 221, 83, 1) 100%);

        }
       